/********************************
GENERAL
********************************/

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	list-style: none;
	letter-spacing: 1px;
}

*:after {
  content:"";
  display:table;
  clear:both;
}



/********************************
NAVIGATION
********************************/

div.nav-bar {
	background-color: #383838;
}

div.nav-bar img {
	margin: 15px 0 15px 20px;
	display: inline-block;
}

.nav-bar img{
	max-width: 150px;
	max-height: 150px;
}

nav {
	display: inline-block;
	float: right;
	margin: 75px 15px 0 0;
}

nav.nav-links {
}

.nav-links li {
	display: inline-block;
	font-size: 15px;
	margin-right: 15px;
}

nav a {
	font-weight: 300;
	color: #fff;
}

nav a:hover {
	color: #c4000f;
}

/** For smaller devices **/
@media (max-width: 668px) {
	div.nav-bar {
		background-color: #383838;
		text-align: center;
	}

	nav {
		display: block;
		float: none;
		margin: 0;
	}

	.nav-links li {
		border: 1px solid #fff;
		border-radius: 5px;
		display: block;
		padding: 10px;
		margin: 0 20px 10px 20px;
	}
}





